<!DOCTYPE html>
<html>
<head>
    <title>Cadastro de Equipamentos</title>
    <link rel="stylesheet" href="/static/style.css">

<body>

<div class="cabecalho">
    <img src="/logo" alt="Logo" class="logo">
    <h1>Cadastro de Equipamentos</h1>
</div>

<form method="GET" action="/">
    <input type="text"
           name="pesquisa"
           placeholder="Pesquisar por Nome ou IP">

    <button type="submit">
        Pesquisar
    </button>
</form>

<form action="/cadastrar" method="post">

    <input type="text" name="nome" placeholder="Nome" required>

    <input type="text" name="patrimonio" placeholder="Patrimônio">

    <input type="text" name="marca" placeholder="Marca">

    <input type="text" name="modelo" placeholder="Modelo">

    <input type="text" name="localizacao" placeholder="Localização">

    <input type="text" name="ip" placeholder="IP">

    <select name="status">
        <option>Ativo</option>
        <option>Em manutenção</option>
        <option>Baixado</option>
    </select>

    <button type="submit">
        Cadastrar
    </button>

</form>
</head>
<a href="/exportar_excel">
    <button type="button">
        Exportar Excel
    </button>
</a>
<table>

<tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Patrimônio</th>
    <th>Marca</th>
    <th>Modelo</th>
    <th>Localização</th>
    <th>IP</th>
    <th>Status</th>
    <th>Ações</th>
</tr>

{% for e in equipamentos %}
<tr>

<td>{{e.id}}</td>
<td>{{e.nome}}</td>
<td>{{e.patrimonio}}</td>
<td>{{e.marca}}</td>
<td>{{e.modelo}}</td>
<td>{{e.localizacao}}</td>
<td>{{e.ip}}</td>
<td>{{e.status}}</td>

<td>
    <a href="/editar/{{e.id}}">Editar</a>
    <a href="/excluir/{{e.id}}">Excluir</a>
</td>

</tr>
{% endfor %}

</table>

</body>
</html>